#canvas2{
    min-height: calc(100vh - 107px - 4px);
}
#cont{
    border-radius: 25px;
    background-color: rgba(251, 173, 161, 0.144);
    width: fit-content;
    margin: auto;
    padding: 25px;
}
#bigCont{
    padding-bottom: 25px;
}
#cont .btn{ 
    color: rgba(0, 0, 0, 1);
    width:100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 0px;
    font-size: 60px;
}
#cont .btn:disabled{ 
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.75);
    width:100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 0px;
    font-size: 60px;
}
#cont #btn1, #cont #btn2, #cont #btn3{
    border-top: none;
}

#cont #btn1, #cont #btn4, #cont #btn7{
    border-left: none;
}
#cont #btn3, #cont #btn6, #cont #btn9{
    border-right: none;
}
#cont #btn7, #cont #btn8, #cont #btn9{
    border-bottom: none;
}

.row{
    height: fit-content;
}

.row5{
    padding-bottom: 50px;
}


.names{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
    padding-left: 2px;
    padding-right: 2px;
    margin: auto;
}
.col-sm-6{
    overflow:auto;
}
.row2{
    overflow: hidden;
    
}
.row5{
    padding-bottom: 5px;
}
#valueCont{
    font-size: 20px;
    margin: auto;
    text-decoration: underline;
}
#whosTurn{
    font-size: 20px;
    font-weight: bold;
    font-style: italic

}

#menuBtn{
    float: left;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 5px;
    background-color: rgba(255, 164, 164, 0.407);
    display: none;
}
#requeueBtn{
   float: right;
   width: 150px;
   height: 50px;
   border-radius: 10px;
   font-size: 19px;
   font-weight: 500;
   padding-bottom: 5px;
   background-color: rgba(255, 164, 164, 0.407);
   display: none;
}
#btnloading{
    margin-left: 12px;
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    display: none;
}
@media screen and (max-width: 500px){
    #canvas2{
        min-height: calc(100vh - 95px - 4px);
    }
    .names{
        font-size: 30px;
    }
    #oppNameCont{
        padding-top: 0px;
    }
}

@media screen and (max-width: 575px){
    #requeueBtn, #menuBtn{
       float: none;
       margin: auto;
       width: 325px;
    }
    .replay{
        padding-bottom: 20px;
    }
}