#loading{
    min-height: 50px;
    width: 50px;
}
#canvas{
    height: calc(100vh - 115px - 4px);
}
#find{
    width: calc(340px - 20px);
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(242, 146, 146);
    cursor: pointer;
    font-size: 20px;
    margin-top: 70px;
}
#enterName{
    margin-bottom: 20px;
    width: fit-content;
    margin: auto;
    padding-bottom: 15px;
    margin-top: 85px;
    font-size: 40px;
}
#name{
    height: 40px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(340px - 20px);
    font-size: 18px;
}
.row3{
    display: grid;
    align-items: center;
    height: 30vh;
}
#loading{
    margin: auto;
    margin-top: 20px;
    display: none;
}
@media screen and (max-width: 500px){
    #canvas{
        min-height: calc(100vh - 102px - 4px);
    }
    #enterName{
        font-size: 30px;
    }
    #name{
        width: 
            calc(260px - 20px);
    }
    #find{
        width: calc(260px - 20px);
    }
}

